.caracteristicas * {
  border: 0;
  margin: 0;
  padding: 0;
}

.caracteristicas {
  margin-top: 4.375rem;
}

.caracteristicas {
  margin: 5.625rem 0;

  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  &__estadisticas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & > * {
      width: 40%;
      height: 12.5rem;
    }
  }
}


@keyframes grande_pequeno {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.graphic_img {
  animation-name: grande_pequeno;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  max-width: 100%;
}


@media (max-width: 991px) {
  .content-carat{
      &__estadis{
          p{
              padding: 0px 10px 0 0;
          }
      }
  }
}

@media (max-width: 767px) {
  .caracteristicas__estadisticas{
      display: inherit;
      padding: 0 10px 0 0;
      &__caracteristicas__estadisticas__graphic svg{
          width: 270px;
      }
      &__caracteristicas__estadisticas__text{
          width: 100%;
          p{
              padding: 0;
          }
      }
  }
  .aracteristicas__h2{
      text-align: initial;
  }
}