@import 'nav';
@import 'header';
@import 'main';
@import 'footer';
@import 'forms';

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    margin: 0;
}

@media (min-width: 320px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        margin: 0;
    }
}