.principal * {
    border: 0;
    margin: 0;
    padding: 0;
  }

.principal__contenedor {
    position: relative;
    text-align: left;
    align-items: center;
    height: 200px;
    width: 370px;
    padding: 15px 20px;
    margin: 40px;
    
    &principal__texto {
    position: absolute;
    font-family: $raleway;
    }
}

h1 {
    font-size: $x-large;
    font-weight: $bold;
}

p {
    font-size: $medium;
    font-weight: $regular;
}

.principal__img {
    max-width: 100%;
    left: 0;
    top: 0;
}

@media (max-width: 992px) {
    .principal__contenedor {
        height: 77vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: bottom;
        margin-top: 10%;
        &--textos {
            width: 80%;
        }
    }
}