.menu__contenedor {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.menu__contenedor__lista li {
    list-style: none;
}

.separador1,
.separador2,
.separador3 {
    display: inline;
    padding: 3px;
    padding-right: 3px;
}

@media (max-width: 992px) {
    .separador1,
    .separador2,
    .separador3,
    .button,
    .class_positive {
        display: none;
    }
    .button-burguer {
        display: flex;
        justify-content: space-around;
        font-size: $x-large;
    }
}

@media (min-width: 992px) {
    .button-burguer {
        display: none;
        background-color: none;
    }
}