.menu__contenedor {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.menu__contenedor__lista li {
    list-style: none;
}

.separador {
    display: inline;
    padding: 3px;
    padding-right: 3px;
}